body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Samim;
  src: url('./fonts/samim-font-v2.0.1//Samim-Bold.eot');
  src: url('./fonts/samim-font-v2.0.1/Samim-Bold.eot') format('Tanha-opentype'),
    url('./fonts/samim-font-v2.0.1/Samim.woff') format('woff'),
    url('./fonts/samim-font-v2.0.1/Samim-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Samim, sans-serif !important;
}
